* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: "background.png";
}

.affirmation {
    max-width: 75vw;
    max-height:50vh;
    height: auto;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
}

.video-affirmation {
    max-height: 65vh;
    max-width: 75vw;
    height: auto;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #000000;
    text-align: center;
    margin: 20px 10vw;
}

p {
    font-size: 16px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    line-height: 35px;
}

.card {
    perspective: 1000px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: rotateY(360deg);
}

.card-inner {
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    transition-delay:0.5s;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: rotateY(360deg);
}


button {
    display: block;
    background-color: darkblue;
    border: solid;
    border-color: white;
    padding: 5px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding: 12px 20px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    * {background-color:black;}
    h1 {color:white;}
    p {color: white;}
}

@media screen and (min-width:900px) {
    .video-affirmation {
        max-height: 65vh
    }
    h1 {margin:50px;}
}
